/* 8/24 화요일 */

/* 초기화 작업 */

* {
	margin: 0;
	padding: 0;

	box-sizing: border-box;

}

html, body {
	width: 100%;
	height: 100%;
	background-color: #212121;
}

ol, ul {
	list-style: none;
}


a {
	text-decoration: none;
}

img {
	vertical-align: middle;
}

button {
	background-color: transparent;
	border: none;
}

input {
	outline: none;
	border: none;
}
input:focus {
	outline: none;
}

#wrapper {
	position: relative;

	width: 100%;
	height: 100%;
	min-width: 1320px;
}


.flex-align-between {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;

}

.flex-align-start {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.flex-align-end {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	align-content: stretch;
}



 /* 상단 메뉴 */
#youtube-top-nav {
	position: fixed;

	width: 100%;
	height: 56px;
	background-color: #212121;

	padding: 0 16px;

	z-index: 99999;
}


#youtube-left-nav {
	/*선택적으로 스크롤을 나타내고자 할때 scroll하고 다름*/
	overflow-y: auto;
	overflow-x: hidden;

	position: fixed;

	width: 240px;
	background-color: #212121;


	/* 늘리는 작업 */
	top: 56px;
	left: 0;

	bottom: 0;
}

/* 왼쪽 사이드 메뉴 */

#youtube-left-content {

	position: absolute;
	width: 225px;
	height: 100%;
	/*background-color: grey;*/
}


/* 상단 메뉴 */
#youtube-top-nav {
	position: fixed;

	width: 100%;
	height: 56px;
	background-color: #212121;

	padding: 0 16px;
}
/* 상단 왼쪽 */

#youtube-top-nav .nav-left {
	height: 56px;
	/*top: -20px;*/

}

#youtube-top-nav .nav-left .btn-menu{
	/*margin-top: 7px;*/
	width: 24px;
	height: 24px;
	background-color: yellow;
	
}

#youtube-top-nav .nav-left h1 {
	margin-left: 16px;
	margin-bottom: 5px;
	
}

#youtube-top-nav .nav-left h1 a {
	
	
}

#youtube-top-nav .nav-left h1 img {
	width: 90px;
	height: 20px;
	
}

/* 상단 오른쪽 */

#youtube-top-nav .nav-right {
	height: 56px;
}

#youtube-top-nav .nav-right .btn-menu {
	width: 40px;
	height: 40px;
	margin-right: 16px;
}



#youtube-top-nav .nav-right .btn-menu.btn-menu-1 {
	background-color: grey;
}

#youtube-top-nav .nav-right .btn-menu.btn-menu-2 {
	background-color: yellow;
}
#youtube-top-nav .nav-right .btn-login {
	display: inline-block;
	border: solid 1px #3ea6ff;
	padding: 10px 12px 8px;
	font-size: 14px;

	color: #3ea6ff;
}


/*상단 center*/

#youtube-top-nav .nav-center {
	position: absolute;
	
	left: 50%;
	transform: translateX(-50%);
}

#youtube-top-nav .nav-center .search-wrap {
	/*position: absolute;*/
	width: 640px;
	height: 30px;


}

#youtube-top-nav .nav-center .search-wrap input {
	width: calc(100% - 65px);
	height: 30px;
	border: solid 1px grey;
	background-color: #212121;

	color: #ffffff;
	padding: 2px 6px;

	font-size: 14px;
}

#youtube-top-nav .nav-center .search-wrap .btn-search {
	width: 65px;
	height: 30px;

	border: solid 1px grey;
	background-color: grey;
}

#youtube-top-nav .nav-center .btn-voice {

	width: 24px;
	height: 24px;
	background-color: blue;


	margin-left: 16px;

}


/*8/25 수*/

#youtube-left-content .nav-section {
	padding: 8px 0;
	border-bottom: solid 1px rgba(255, 255, 255, .1);
}

#youtube-left-content .nav-section .nav-title-wrap {
	padding: 8px 24px;
}

#youtube-left-content .nav-section .nav-title-wrap h2 {
	color: #aaaaaa;
	font-size: 15px;
}

#youtube-left-content .nav-section .nav-body {
	padding-top: 6px;
	padding-bottom: 6px;
}

#youtube-left-content .nav-section .nav-body ul {
	
}

#youtube-left-content .nav-section .nav-body li {
	
}

#youtube-left-content .nav-section .nav-body li a {
	/*display: block;*/
	height: 40px;
	padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body li .icon {
	display: inline-block;
	width: 24px;
	height: 24px;
	background-color: #ffffff;
	margin-right: 24px;
}

#youtube-left-content .nav-section .nav-body li span {
	font-size: 13px;
	color: #ffffff;
}

#youtube-left-content .nav-section .nav-body .txt-wrap {
	padding: 0 24px;
}

#youtube-left-content .nav-section .nav-body .txt-wrap p {
	color: #ffffff;
	font-weight: 400;
	font-size: 13px;
}
/* display: inline-block 중요 */
#youtube-left-content .nav-section .nav-body .txt-wrap .btn-login {
	display: inline-block;

	border: solid 1px #3ea6ff;
	padding: 10px 12px 8px;
	font-size: 14px;
	color: #3ea6ff;

	margin-top: 12px;
}


/* 왼쪽 하단 작업 */
#youtube-left-content #youtube-footer {
	padding-bottom: 150px;
}

#youtube-left-content #youtube-footer .txt-wrap {
	padding: 12px 24px 0;
}

#youtube-left-content #youtube-footer .txt-wrap a {
	margin-right: 8px;

	color: #aaaaaa;
	font-size: 12px;
	font-weight: 500;

	/*개발자, 정책 및 안전 잘리는거 안잘리도록 설정*/
	word-break: keep-all;
}

#youtube-left-content #youtube-footer .txt-wrap p {
	font-size: 12px;
	color: #717171 ;
	font-weight: 400;
}



/* 유튜브 메인 */


#youtube-main {
	position: absolute;
	left: 240px;
	top: 56px;
	right: 0;
	bottom: 0;

	background-color: #212121;
}


#youtube-main-content {
	width: 100%;
	height: 100%;
	padding: 24px;
}

#youtube-main-content ul {
	align-items: flex-start;
	align-content: flex-start;
	width: 100%;
	height: 100%;
}

#youtube-main-content ul li {
	width: 24%;
	background-color: #212121;
	margin-bottom: 40px;
}

#youtube-main-content ul li .video-thumbnail {
	width: 100%;

}

#youtube-main-content ul li .video-thumbnail a {
	position: relative;

	display: block;	
	width: 100%;

}

#youtube-main-content ul li .video-thumbnail img {
	width: 100%;

}

#youtube-main-content ul li .video-thumbnail .time {
	position: absolute;

	background-color: rgba(0, 0, 0, .8);
	font-size: 12px;
	color: #ffffff;

	padding: 3px 4px;

	bottom: 4px;
	right: 4px;
}


#youtube-main-content ul li .video-txt-wrap {
	align-items: flex-start;
	margin-top: 12px;
}


#youtube-main-content ul li .video-txt-wrap .image-link {
	display: inline-block;
	width: 36px;
	height: 36px;

	margin-right: 12px;
}

#youtube-main-content ul li .video-txt-wrap .image-link img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

#youtube-main-content ul li .video-txt-wrap .txt {
	width: calc( 100% - 48px)
}
#youtube-main-content ul li .video-txt-wrap .txt h3 {
	font-size: 15px;
	margin-bottom: 6px;

}

#youtube-main-content ul li .video-txt-wrap .txt h3 .title-link {
	color: #ffffff;
}

#youtube-main-content ul li .video-txt-wrap .txt p {
	font-size: 12px;
}

#youtube-main-content ul li .video-txt-wrap .txt p .channel-link {
	color: #aaaaaa;
}

#youtube-main-content ul li .video-txt-wrap .txt .txt-bottom {
	
}


#youtube-main-content ul li .video-txt-wrap .txt .txt-bottom .count,
#youtube-main-content ul li .video-txt-wrap .txt .txt-bottom .date {
	font-size: 12px;
	color: #aaaaaa;
}


